.services-warper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}

.service_warper {
	background-color: #eeeeee;
}

.services-title {
	display: block;
	font-size: 8rem;
	text-align: center;
	color: #c6c6c6;
	text-decoration: underline;
	text-decoration-color: #e21c21;
	padding-bottom: 1rem;
}

.service-img {
	width: 10rem;
	height: 10rem;
	padding: 1.3rem 0;
}

.service-img:hover {
	transform: scale(1.2);
	transition: all 0.5s ease;
}

.service {
	flex: 1 0 45%;
	border: black solid 2px;
	font-size: 1.2rem;
	width: 100%;
	padding: 2rem 1rem;
	border-radius: 20px;
	text-align: center;
	margin: 1rem 1.2rem;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
}

.service h1,
.service h3 {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	font-size: 2rem;
}

.service-title {
	font-size: 3rem !important;
}
