.services-warper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	padding: 5rem 0;
}

.service_warper {
	background-color: #eeeeee;
}

.services-title {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	display: block;
	font-size: 8rem;
	font-weight: bold;
	text-align: center;
	color: #000000;
	text-decoration: underline;
	text-decoration-color: #e21c21;
	padding-bottom: 1rem;
}

.service-img {
	width: 10rem;
	height: 10rem;
	padding: 1.3rem 0;
}

.service-img:hover {
	transform: scale(1.2);
	transition: all 0.5s ease;
}

.service {
	flex: 1 0 45%;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	border: black solid 2px;
	font-size: 1.2rem;
	width: 100%;
	opacity: .9;
	padding: 2rem 1rem;
	border-radius: 20px;
	text-align: center;
	margin: 1rem 1.2rem;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
}

.service h3 {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
	font-size: 2rem;
	direction: rtl;
}

.service-title {
	font-size: 3rem !important;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
}

.service-title~h3 {
	font-size: 2rem !important;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
}

.service0 {
	background-color: rgba(13, 178, 99, .5);
}

.service1 {
	background-color: rgba(120, 44, 212, .5);
}

.service2 {
	background-color: rgba(255, 173, 1, .5);
}

.service3 {
	background-color: rgba(255, 104, 1, .5);
}

.service4 {
	background-color: rgba(24, 138, 235, .5);
}

.service5 {
	background-color: rgba(226, 58, 58, .5);
}