.contact-wrapper {
	background-color: #2e2f31;
}

.info-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	line-height: 1.6;
	direction: rtl;
}

.contact-text {
	font-size: 3rem;
	text-align: center;
	color: white;
}

.contact-header {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	font-size: 8rem;
	text-align: center;
	color: #c6c6c6;
	text-decoration: underline;
	text-decoration-color: #e21c21;
	padding-bottom: 1rem;
}

.my-linkedin {
	font-size: 2rem;
}

.my-linkedin a {
	color: white;
}