.miniNavbar {
	background: #0288d1;
	display: flex;
	color: #ffffff;
	justify-content: center;
	align-content: center;
	align-items: center;
	display: none;
}
.connection-tools {
	margin-top: 7px;
}
.contact {
	align-items: flex-start;
	font-family: 'Rubik', sans-serif;
}

.PhoneLogo {
	width: 2rem;
	margin: 0 6px;
}
.PhoneLogo:hover {
	background-color: rgb(37, 85, 218);
}

.WhatsappLogo {
	width: 2rem;
	margin: 0 6px;
}
@media screen and (max-width: 620px) {
	.miniNavbar {
		display: flex;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 20;
	}
}
